# Environment Configuration Sample
# Rename this file to .env and fill in the values accordingly.

# Download Client Names
torrentclientname=""   # Example: "Qbit"
usenetclientname=""    # Example: "SABnzbd"

# Cross Seed API configuration
xseed_host=""          # Example: "crossseed-server"
xseed_port=""          # Example: "2468"

# API Key for Cross Seed, if applicable
xseed_apikey=""        # Example: "your-api-key"

# Path to store the script's database of prior searches
log_file=""            # Example: "/config/xseed_db.log"
