# .env
# Environment Configuration StarrScripts Sample 2024-04
# Rename this file to .env and fill in the values accordingly.
# Xseed
## Download Client Names
torrentclientname=""   # Example: "Qbit"
usenetclientname=""    # Example: "SABnzbd"
## Cross Seed API configuration
xseed_host=""          # Example: "crossseed-server"
xseed_port=""          # Example: "2468"
## API Key for Cross Seed, if applicable
xseed_apikey=""        # Example: "your-api-key"
## Path to store the script's database of prior searches
log_file=""            # Example: "/config/xseed_db.log"
# ZFS Destory
VERBOSE=0
MAX_FREQ=2
MAX_HOURLY=2
MAX_DAILY=1
MAX_WEEKLY=0
MAX_MONTHLY=0
# Jdupes
JDUPES_OUTPUT_LOG=/.config/jdupes.log
JDUPES_SOURCE_DIR=/mnt/data/media/
JDUPES_DESTINATION_DIR=/mnt/data/torrents/
JDUPES_HASH_DB=/.config/jdupes_hashdb
